In [1]:
#Importing the libraries

import pandas as pd
import numpy as np

In [2]:
#Reading the given Data Frame

df = pd.DataFrame.from_dict({'From_To': ['LoNDon_paris', 'MAdrid_miLAN','londON_StockhOlm','Budapest_PaRis', 'Brussels_londOn'],
                   'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
                   'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )','12. Air France', '"Swiss Air"']},orient='index')
df = df.transpose()

In [3]:
#Removing Nan Values from FlightNumber

df['FlightNumber'] = pd.DataFrame(np.arange(10045,10086,10))

In [4]:
#Splitting the From_To column

From_To = []
for i in df['From_To'] :
    From_To.append(i.split('_'))

df['From'] = pd.DataFrame([i[0] for i in From_To])
df['To'] = pd.DataFrame([i[1] for i in From_To])

In [5]:
#Handling case sensitive in From and To columns

From = []
for i in df['From'] :
    temp = i.lower()
    temp = temp[0].upper() + temp[1:]
    From.append(temp)
df['From'] = pd.DataFrame(From)

To = []
for i in df['To'] :
    temp = i.lower()
    temp = temp[0].upper() + temp[1:]
    To.append(temp)
df['To'] = pd.DataFrame(To)

df.drop(['From_To'],axis=1,inplace=True)

In [6]:
#Adding Delays column

len_max = 0
for i in df['RecentDelays'] :
    if len(i) > len_max :
        len_max = len(i)
x = {}
for i in range(len_max) :
    x['Delay_'+str(i+1)] = [j[i] if len(j)>i else np.nan for j in df['RecentDelays']]

for i in x.keys() :
    df[i] = pd.DataFrame(x[i])
df.drop(['RecentDelays'],axis=1,inplace=True)

In [7]:
df

,FlightNumber,Airline,From,To,Delay_1,Delay_2,Delay_3
0,10045,KLM(!),London,Paris,23.0,47.0,NaN
1,10055,<Air France> (12),Madrid,Milan,NaN,NaN,NaN
2,10065,(British Airways. ),London,Stockholm,24.0,43.0,87.0
3,10075,12. Air France,Budapest,Paris,13.0,NaN,NaN
4,10085,"""Swiss Air""",Brussels,London,67.0,32.0,NaN